body{
    background: url("https://wallpapercave.com/wp/wp4469548.jpg");
    background-size: cover;
    
    
}
.main-navigationsection{
    /* border: solid 2px grey; */
    display: flex;
    margin-top: 2%;
    justify-content: center;
}
.main-navigation{
    /* border: solid 2px pink; */
    display: flex;
    width: 90%;
    border-radius: 20px; 
    background-color: white;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.3);
    
}
.main-navigation-logo{
    /* border: solid 2px green; */
    width: 15%;
    text-align: center;
}
.main-navigation-navigate{
    /* border: solid 2px red; */
    
    width: 70%;
}
.main-navigation-navigate ul{
    display: flex;
    list-style: none;
    justify-content:center;
    gap: 30px;
    
}
.main-navigation-navigate ul li a{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}
.main-navigation-navigate ul li a:hover{
    color: red;
    
    
}
.main-navigation-daynight{
    /* border: solid 2px fuchsia; */
    width: 15%;
    text-align: center;
}






/* Hero Section */
.main-herosection{
    border: 2px solid green;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.main-herosection-div{
    background-color: white;
    border: 2px solid pink;
    border-radius: 18px;
    width: 90%;
    display: flex;
}
.main-herosection-div-left{
    border: 2px solid red;
    flex: 1.2;
}
.main-herosection-div-left h1{
    font-size: 60px;
    padding: 15px;
    margin: 0px;
}
.main-herosection-div-left p{
    padding-top: 25px;
    font-size: 20px;
    color: green;
    padding: 15px;
    
}
.main-herosection-div-left-button{
    margin: 15px 0px 45px 25px;
    padding: 10px 35px 10px 35px;
    border: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;

}
.main-herosection-div-right{
    border: 2px solid green;
    flex: 1;
}